*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}

a{
    text-decoration: none;
}


/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, .15); 
}

/* header */

header nav .logo{
    margin-right: 40px;
    color: white;
    
}
header nav{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: x-large;
    padding: 0 20px;
}

header nav ul{
    display: flex;
    list-style: none;

}

header nav ul li{
    margin: 10px;
    padding: 6px 10px;
    border-radius: 15px 50px;
    transition: 1s;
    
}

header nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(5px);
     
}



header nav ul li a{
    text-decoration: none;
    color: rgb(247, 241, 241);
    font-size: x-large;
}




/* main */

.page1{
    height: 100vh;
    background-image: url(./img/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.page2{
    height: 100vh;
    background-image: url(./img/cope\ 2\ cyberpunk-supercar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
iframe{
     border: none;
}

    

.page3{
    height: 100vh;
    background-image: url(./img/black\ lambo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

/* main */


/* aside */

aside{
    position: fixed;
    right: 0;
    top: 30%;
    
}

aside ul{
    list-style: none;
    overflow: hidden;
    
 
}

aside ul li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
    background-color: blue;
    transform: translateX(104px);
    height: 50px;
    transition: all 0.5s;
}

aside ul li:nth-child(1):hover {
    transform: translateX(0);
}

aside ul li:nth-child(2):hover {
    transform: translateX(0);
}

aside ul li span {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: orange;
}


aside ul li a{
    text-decoration: none;
    font-size: x-large;
    color: white;
}

/* aside */





/* models */

.body2{
    background-image: url(./img/back3.jpg);
    background-position: center;
    background-repeat: no-repeat;    
} 




#main3{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 100px;
    grid-gap: 10px

}

.mod1{
align-items: center;
box-shadow: 5px 10px 8px black;
/* background-image: url(./img/po1.jpg); */
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}

.mod2{
align-items:center;
box-shadow: 5px 10px 8px black;
}

.mod3{
align-items: center;
box-shadow: 5px 10px 8px black;
} 



/* models */






  /* sing up  */

.sing {
    height: 100vh;
    background-image: url(./img/bmw-4560531_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 120px;

}
#forms{
    font-size: large;
    font-weight: bold;
    color: wheat;
}
.logo2{
    font-size: 100px;
    color: teal;
}

/* sing up  */


/* modcar */

.carinfo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    height: 100vh;
    margin-top: 60px;

}


.namecar{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    padding: 60px;
    font-size: 120px;
    border: 2px solid;
    

}

.image4{
    background-image: url(./img/po1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 700px;
    grid-row-start: 2;
    grid-row-end: 5;
    border: 2px solid;
}


.bc{
    background-image: url(./img/back3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

/* modcar */